.product__container {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

select {
  padding: 0.25rem 0.5rem;
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
}

table tr td {
  padding: 0.25rem;
  border: 1px solid black;
}
